@use "../../../styles//utils/" as u;

.desktop {
  display: none;
}

.test {
  line-height: 0;
}

@include u.breakpoint(desktop) {
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}
