:root {
  --white: #fff;
  --headerDesktopBackground: #20333e;
  --burgerBackground: #bdc1c3;
  --black: #1f343e;
  --navLinkActive: #4eb3e3;
  --orange: #fca351;
  --lightBlue: #4eb3e3;
  --featuresSectionBackground: #f8f4f9;
  --paragraphGrey: #6d7a80;
  --lightGrey: #959da1;
  --iconBackgroundGreen: #8cd943;
  --iconBackgroundOrangeRed: #e86c5c;
  --iconBackgroundYellow: #f8cc5d;
  --iconBackgroundOrange: #fca351;
  --featuresSectionBackgroundBlue: #e7edf7;
  --featuresSectionBackgroundGreen: #edf1e7;
  --featuresSectionBackgroundOrangeRed: #f7e6ed;
  --featuresSectionBackgroundYellow: #f9f0e9;
  --featuresSectionBackgroundOrange: #f9ece8;
}
