@use "../utils/" as u;

$mansalvaFont: var(--mansalva-font);
$palanquinDarkFont: var(--palanquinDark-font);

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}

.smallText {
  line-height: 1.6rem;

  @include u.breakpoint(desktop) {
    font-size: 1.1rem;
  }
}

.sextionTextBlue {
  color: var(--lightBlue);
  font-size: 2rem;
  font-weight: 700;

  @include u.breakpoint(desktop) {
    font-size: 2.4rem;
  }
}

.heroSectionTitle {
  color: var(--white);
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin: 0;

  span {
    color: var(--orange);
  }

  @include u.breakpoint(desktop) {
    font-size: 3.4rem;
  }
}

.heroSectionSentence {
  color: var(--white);
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.signUpEmailText {
  color: var(--white);
  font-weight: 700;
}

.featuresSextionTitle {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;
  margin: 0;

  @include u.breakpoint(desktop) {
    font-size: 2.4rem;
  }
}

.featureTitle {
  font-size: 1.1rem;
  margin: 0;
  line-height: 1;

  @include u.breakpoint(desktop) {
    font-size: 1.3rem;
  }
}

.featureText {
  font-size: 0.9rem;
  line-height: 1.4rem;
  margin: 0;
  color: var(--paragraphGrey);

  @include u.breakpoint(desktop) {
    font-size: 1rem;
  }
}

.providerOfferText {
  font-size: 0.9rem;
  font-weight: 700;
}

.providersTitle {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  line-height: 1.2;
  color: var(--white);
}

.providerTitleText {
  text-align: center;
  font-weight: 1rem;
  color: var(--white);
  line-height: 1.2;
}
