@use "../utils/" as u;

$mansalvaFont: var(--mansalva-font);
$palanquinDarkFont: var(--palanquinDark-font);

a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}

.heroSectionTitle {
  color: var(--white);
  font-size: 1.8rem;
  line-height: 2.5rem;
  font-weight: 700;
  margin: 0;

  span {
    color: var(--orange);
  }

  @include u.breakpoint(desktop) {
    font-size: 3.4rem;
  }
}

.heroSectionSentence {
  color: var(--white);
  font-size: 1.2rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.signUpEmailText {
  color: var(--white);
  font-weight: 700;
}
