.bannerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  &.blue {
    background-color: var(--navLinkActive);
  }
  &.light {
    background-color: var(--featuresSectionBackground);
  }
}
