@use "../../styles//utils/" as u;

.star-ratings {
  unicode-bidi: bidi-override;
  &.white {
    color: rgba(255, 255, 255, 0.529);
  }
  &.black {
    color: rgba(121, 120, 120, 0.529);
  }
  font-size: 1.8rem;
  position: relative;
  margin: 0;
  padding: 0;
  width: 9rem;
  .fill-ratings {
    &.white {
      color: var(--white);
    }
    &.black {
      color: var(--black);
    }
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 86%;

    span {
      display: inline-block;
    }
  }
  .empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
    background-color: none;
  }
}

@include u.breakpoint(desktop) {
  .star-rating-block {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
