@use "../../../styles//utils/" as u;

.heroSection {
  background-image: url("../../../public//assets//images/hero.webp");
  background-position: center center;
  background-size: cover;
  height: calc(100vh - 5rem - 4.5rem);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

  .content-container {
    display: flex;
    flex-direction: column;

    gap: 1rem;
    padding: 3.2rem 1rem;
  }

  @include u.breakpoint(desktop) {
    .content-container {
      align-items: center;
      text-align: center;
    }
    .signUpFormBlock {
      display: none;
    }
  }

  @include u.breakpoint-down(mobile) {
    .downloadBtn {
      display: none;
    }
  }
}

// 80 72
